 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .front-page{
     width: 100%;
     height: 100vh;
 }

 .front-page video{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .intro-text, 
 .icon{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .blend{
     width: 100%;
     height: 100vh;
     background: black;
     position: absolute;
     opacity: 0.3;
    }